.navbar {
    box-shadow: 2px 2px 5px $dark-blue;
    opacity: 0.99;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.navbar .nav-item.active {
    border-left: $bright-red 3px solid;

}

a{
    outline: 0;
}

