// Colors
$aqua-blue: #00547c;
$bright-yellow: #ffde00;
$dark-blue: #364051;
$dark-grey: #333333;
$dark-pink: #d90368;
$light-orange: #ff6363;
$light-grey: #f7f7f7;
$grey: #666;
$border-bottom: #ccc;
$bright-red: rgb(212, 63, 58);
$progressInfo-red: #d53c3c;
$progressInfo-green: #118c8b;
$progressInfo-purple: #73c0f4;
$progressInfo-yellow: #edd170;

// Font-Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.6rem;
$font-size-vsmall: 0.9375rem;

//Spacing
$m-Size: 1.6rem;
$l-Size: 3.2rem;
$xl-Size: 4.8rem;
$s-Size: 1.2rem;
$desktop-breakpoint: 45rem;

//Sizing
$gitHubActivity: 450px;
